body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #fffdfd;
}
input {
    margin-bottom:10px ;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
button:hover {
    background-color: #45a049;
}