
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 50px;

}


input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;

}


button {

    padding: 10px;
    background-color: #a72889;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: #218838;
}
